# NYC Motor Vehicle Crashes dataset
Explore, clean and prepare dataset for a machine learning model

## 1. Import modules

In [3]:
import numpy as np
import pandas as pd

## 2. Import dataset

In [4]:
df = pd.read_csv('assets/data_100000.csv')

## 3. Explore dataset

In [6]:
df.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18T00:00:00.000,23:10,STATEN ISLAND,10312.0,40.536728,-74.193344,"(40.536728, -74.193344)",NaN,NaN,243 DARLINGTON AVENUE,...,Unspecified,NaN,NaN,NaN,3654181,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2017-05-06T00:00:00.000,13:00,BRONX,10472.0,40.829052,-73.850380,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,...,NaN,NaN,NaN,NaN,3665311,Sedan,NaN,NaN,NaN,NaN
2,2017-04-27T00:00:00.000,17:15,QUEENS,11420.0,40.677303,-73.804565,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3658491,Sedan,Sedan,NaN,NaN,NaN
3,2017-05-09T00:00:00.000,20:10,NaN,NaN,40.624958,-74.145775,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,3666554,Motorcycle,Sedan,Bus,NaN,NaN
4,2017-04-18T00:00:00.000,14:00,BRONX,10456.0,40.828846,-73.903120,"(40.828846, -73.90312)",NaN,NaN,1167 BOSTON ROAD,...,Unspecified,NaN,NaN,NaN,3653269,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [5]:
df.info

<bound method DataFrame.info of                     crash_date crash_time        borough  zip_code   latitude  \
0      2017-04-18T00:00:00.000      23:10  STATEN ISLAND   10312.0  40.536728
1      2017-05-06T00:00:00.000      13:00          BRONX   10472.0  40.829052
2      2017-04-27T00:00:00.000      17:15         QUEENS   11420.0  40.677303
3      2017-05-09T00:00:00.000      20:10            NaN       NaN  40.624958
4      2017-04-18T00:00:00.000      14:00          BRONX   10456.0  40.828846
...                        ...        ...            ...       ...        ...
99995  2019-11-20T00:00:00.000      15:00       BROOKLYN   11210.0  40.618893
99996  2019-12-01T00:00:00.000      11:22         QUEENS   11367.0  40.723380
99997  2019-11-21T00:00:00.000      21:30       BROOKLYN   11249.0  40.710820
99998  2019-11-18T00:00:00.000      17:28       BROOKLYN   11234.0  40.631180
99999  2019-11-17T00:00:00.000      20:42      MANHATTAN   10017.0  40.750760

       longitude                 location                    on_street_name  \
0     -74.193344  (40.536728, -74.193344)                               NaN
1     -73.850380   (40.829052, -73.85038)  CASTLE HILL AVENUE
2     -73.804565  (40.677303, -73.804565)  135 STREET
3     -74.145775  (40.624958, -74.145775)  FOREST AVENUE
4     -73.903120   (40.828846, -73.90312)                               NaN
...          ...                      ...                               ...
99995 -73.946420   (40.618893, -73.94642)                               NaN
99996 -73.814750    (40.72338, -73.81475)                               NaN
99997 -73.968530    (40.71082, -73.96853)  BROADWAY
99998 -73.928185   (40.63118, -73.928185)                               NaN
99999 -73.968430    (40.75076, -73.96843)  EAST 45 STREET

        off_street_name                         cross_street_name  ...  \
0                   NaN  243       DARLINGTON AVENUE               ...
1      BLACKROCK AVENUE                                       NaN  ...
2        FOCH BOULEVARD                                       NaN  ...
3       RICHMOND AVENUE                                       NaN  ...
4                   NaN  1167      BOSTON ROAD                     ...
...                 ...                                       ...  ...
99995               NaN  1314      EAST 29 STREET                  ...
99996               NaN  150-62    76 ROAD                         ...
99997       KENT AVENUE                                       NaN  ...
99998               NaN  1695      UTICA AVENUE                    ...
99999          1 AVENUE                                       NaN  ...

        contributing_factor_vehicle_2  contributing_factor_vehicle_3  \
0                         Unspecified                            NaN
1                                 NaN                            NaN
2                         Unspecified                            NaN
3                         Unspecified                    Unspecified
4                         Unspecified                            NaN
...                               ...                            ...
99995                             NaN                            NaN
99996                     Unspecified                            NaN
99997                     Unspecified                            NaN
99998                     Unspecified                            NaN
99999  Driver Inattention/Distraction                            NaN

       contributing_factor_vehicle_4  contributing_factor_vehicle_5  \
0                                NaN                            NaN
1                                NaN                            NaN
2                                NaN                            NaN
3                                NaN                            NaN
4                                NaN                            NaN
...                              ...                            ...
99995                            NaN                            NaN
99996                            NaN                            NaN
99997                            NaN                            NaN
99998                            NaN                            NaN
99999                            NaN                            NaN

       collision_id                   vehicle_type_code1  \
0           3654181  Station Wagon/Sport Utility Vehicle
1           3665311                                Sedan
2           3658491                                Sedan
3           3666554                           Motorcycle
4           3653269                                Sedan
...             ...                                  ...
99995       4244961  Station Wagon/Sport Utility Vehicle
99996       4250093  Station Wagon/Sport Utility Vehicle
99997       4245290                                Sedan
99998       4243646                                Sedan
99999       4247517                                Sedan

                        vehicle_type_code2  vehicle_type_code_3  \
0                                      NaN                  NaN
1                                      NaN                  NaN
2                                    Sedan                  NaN
3                                    Sedan                  Bus
4      Station Wagon/Sport Utility Vehicle                  NaN
...                                    ...                  ...
99995                                  NaN                  NaN
99996  Station Wagon/Sport Utility Vehicle                  NaN
99997                            Box Truck                  NaN
99998                                  Bus                  NaN
99999  Station Wagon/Sport Utility Vehicle                  NaN

      vehicle_type_code_4 vehicle_type_code_5
0                     NaN                 NaN
1                     NaN                 NaN
2                     NaN                 NaN
3                     NaN                 NaN
4                     NaN                 NaN
...                   ...                 ...
99995                 NaN                 NaN
99996                 NaN                 NaN
99997                 NaN                 NaN
99998                 NaN                 NaN
99999                 NaN                 NaN

[100000 rows x 29 columns]>