# NYC Motor Vehicle Crashes dataset
Explore, clean and prepare dataset for a machine learning model

## 1. Import modules

In [3]:
import numpy as np
import pandas as pd

## 2. Import dataset

In [4]:
df = pd.read_csv('assets/data_100000.csv')

## 3. Explore dataset

In [11]:
print("0. The five first rows:")
df.head()

0. The five first rows:

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18T00:00:00.000,23:10,STATEN ISLAND,10312.0,40.536728,-74.193344,"(40.536728, -74.193344)",NaN,NaN,243 DARLINGTON AVENUE,...,Unspecified,NaN,NaN,NaN,3654181,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2017-05-06T00:00:00.000,13:00,BRONX,10472.0,40.829052,-73.850380,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,...,NaN,NaN,NaN,NaN,3665311,Sedan,NaN,NaN,NaN,NaN
2,2017-04-27T00:00:00.000,17:15,QUEENS,11420.0,40.677303,-73.804565,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3658491,Sedan,Sedan,NaN,NaN,NaN
3,2017-05-09T00:00:00.000,20:10,NaN,NaN,40.624958,-74.145775,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,3666554,Motorcycle,Sedan,Bus,NaN,NaN
4,2017-04-18T00:00:00.000,14:00,BRONX,10456.0,40.828846,-73.903120,"(40.828846, -73.90312)",NaN,NaN,1167 BOSTON ROAD,...,Unspecified,NaN,NaN,NaN,3653269,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [10]:
print("1. General info of dataset:")
df.info()

1. General info of dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_date                     100000 non-null  object
 1   crash_time                     100000 non-null  object
 2   borough                        64974 non-null   object
 3   zip_code                       64966 non-null   float64
 4   latitude                       91965 non-null   float64
 5   longitude                      91965 non-null   float64
 6   location                       91965 non-null   object
 7   on_street_name                 73991 non-null   object
 8   off_street_name                47125 non-null   object
 9   cross_street_name              25967 non-null   object
 10  number_of_persons_injured      100000 non-null  int64
 11  number_of_persons_killed       100000 non-null  int64
 12  number_of_pedestrians_injured  100000 non-null  int64
 13  number_of_pedestrians_killed   100000 non-null  int64
 14  number_of_cyclist_injured      100000 non-null  int64
 15  number_of_cyclist_killed       100000 non-null  int64
 16  number_of_motorist_injured     100000 non-null  int64
 17  number_of_motorist_killed      100000 non-null  int64
 18  contributing_factor_vehicle_1  99629 non-null   object
 19  contributing_factor_vehicle_2  80757 non-null   object
 20  contributing_factor_vehicle_3  8761 non-null    object
 21  contributing_factor_vehicle_4  2240 non-null    object
 22  contributing_factor_vehicle_5  667 non-null     object
 23  collision_id                   100000 non-null  int64
 24  vehicle_type_code1             99260 non-null   object
 25  vehicle_type_code2             73411 non-null   object
 26  vehicle_type_code_3            8329 non-null    object
 27  vehicle_type_code_4            2147 non-null    object
 28  vehicle_type_code_5            646 non-null     object
dtypes: float64(3), int64(9), object(17)
memory usage: 22.1+ MB

In [9]:
print(f"2. Number of rows: {len(df)}")
print(f"3. Number of original features: {len(df.columns)}")

2. Number of rows: 100000
3. Number of original features: 29

### Exploring missing values

In [79]:
print("4. Number of missing values in each original feature:")
df.isnull().sum()

4. Number of missing values in each original feature:

borough                          35026
zip_code                         35034
latitude                          8035
longitude                         8035
location                          8035
on_street_name                   26009
off_street_name                  52875
cross_street_name                74033
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1      371
contributing_factor_vehicle_2    19243
contributing_factor_vehicle_3    91239
contributing_factor_vehicle_4    97760
contributing_factor_vehicle_5    99333
vehicle_type_code1                 740
vehicle_type_code2               26589
vehicle_type_code_3              91671
vehicle_type_code_4              97853
vehicle_type_code_5              99354
crash_datetime                       0
dtype: int64

In [14]:
print("5. Data type of each original feature:")
df.dtypes

5. Data type of each original feature:

crash_date                        object
crash_time                        object
borough                           object
zip_code                         float64
latitude                         float64
longitude                        float64
location                          object
on_street_name                    object
off_street_name                   object
cross_street_name                 object
number_of_persons_injured          int64
number_of_persons_killed           int64
number_of_pedestrians_injured      int64
number_of_pedestrians_killed       int64
number_of_cyclist_injured          int64
number_of_cyclist_killed           int64
number_of_motorist_injured         int64
number_of_motorist_killed          int64
contributing_factor_vehicle_1     object
contributing_factor_vehicle_2     object
contributing_factor_vehicle_3     object
contributing_factor_vehicle_4     object
contributing_factor_vehicle_5     object
collision_id                       int64
vehicle_type_code1                object
vehicle_type_code2                object
vehicle_type_code_3               object
vehicle_type_code_4               object
vehicle_type_code_5               object
dtype: object

In [16]:
print("6. Number of unique values of each original feature:")
print("NaN non included")
df.nunique()

6. Number of unique values of each original feature:
NaN non included

crash_date                          551
crash_time                         1440
borough                               5
zip_code                            203
latitude                          33675
longitude                         26494
location                          44605
on_street_name                     4327
off_street_name                    4897
cross_street_name                 22829
number_of_persons_injured            13
number_of_persons_killed              4
number_of_pedestrians_injured         7
number_of_pedestrians_killed          2
number_of_cyclist_injured             4
number_of_cyclist_killed              2
number_of_motorist_injured           13
number_of_motorist_killed             4
contributing_factor_vehicle_1        54
contributing_factor_vehicle_2        47
contributing_factor_vehicle_3        30
contributing_factor_vehicle_4        12
contributing_factor_vehicle_5         9
collision_id                     100000
vehicle_type_code1                  366
vehicle_type_code2                  385
vehicle_type_code_3                  64
vehicle_type_code_4                  31
vehicle_type_code_5                  18
dtype: int64

In [19]:
print("7. Unique values of original features with less than 204 unique values:")
for column in df.columns:
    if df[column].nunique() < 204:
        print(f"#################### {column} ####################")
        print(df[column].unique())
        print()

Unique values of original features with less than 204 unique values:
#################### borough ####################
['STATEN ISLAND' 'BRONX' 'QUEENS' nan 'BROOKLYN' 'MANHATTAN']

#################### zip_code ####################
[10312. 10472. 11420.    nan 10456. 11203. 10474. 10301. 11223. 11234.
 10463. 11419. 10453. 11434. 11207. 10019. 10309. 11422. 11233. 11417.
 11691. 11358. 10013. 11226. 10002. 10038. 10461. 11214. 10033. 11206.
 11221. 10467. 10011. 10017. 11355. 10027. 11378. 11224. 10305. 10021.
 10035. 11213. 11208. 10036. 11101. 10009. 11235. 11377. 10470. 11219.
 10001. 11228. 11215. 11217. 11372. 11379. 10460. 11205. 10468. 11416.
 10469. 11429. 10007. 11231. 11236. 10459. 10462. 10012. 11229. 10031.
 11238. 11369. 11423. 10026. 10018. 11365. 11370. 11421. 11209. 10465.
 10025. 10458. 10308. 11375. 10034. 11216. 10455. 11354. 11230. 10003.
 10471. 11222. 10304. 10457. 11428. 11212. 11418. 11210. 10006. 11360.
 10022. 10452. 10016. 11201. 11432. 10466. 10020. 11232. 11367. 11220.
 11218. 11211. 11364. 10454. 10010. 10037. 11368. 10307. 10023. 10473.
 11361. 11693. 10029. 11435. 10314. 11385. 11373. 11103. 10310. 10028.
 10039. 10475. 11412. 11374. 11433. 10128. 10075. 10024. 10030. 11102.
 10004. 10451. 11411. 11413. 11225. 11426. 11357. 11356. 10040. 11249.
 11692. 11366. 11237. 11105. 11362. 11204. 11001. 10032. 11427. 10464.
 10065. 11415. 11436. 11414. 11106. 10005. 10000. 10014. 11104. 10306.
 11004. 10119. 10172. 11694. 11697. 11239. 11040. 11363. 10278. 10302.
 10165. 10168. 10069. 10121. 10167. 11109. 10280. 11430. 11005. 10281.
 10282. 10041. 10105. 10279. 10103. 10271. 10123. 10154. 11251. 11695.
 11359. 10153. 10118. 10169.]

#################### number_of_persons_injured ####################
[ 0  1  3  8  2  4  5  6  7  9 11 15 10]

#################### number_of_persons_killed ####################
[0 1 2 3]

#################### number_of_pedestrians_injured ####################
[0 1 2 3 6 5 4]

#################### number_of_pedestrians_killed ####################
[0 1]

#################### number_of_cyclist_injured ####################
[0 1 3 2]

#################### number_of_cyclist_killed ####################
[0 1]

#################### number_of_motorist_injured ####################
[ 0  1  3  8  2  4  5  6  7  9 11 15 10]

#################### number_of_motorist_killed ####################
[0 1 2 3]

#################### contributing_factor_vehicle_1 ####################
['Driver Inattention/Distraction' 'Failure to Yield Right-of-Way'
 'Unspecified' 'Unsafe Lane Changing' 'Passing or Lane Usage Improper'
 'Other Vehicular' 'Passing Too Closely' 'Backing Unsafely'
 'Traffic Control Disregarded' 'Driver Inexperience' 'Unsafe Speed'
 'Following Too Closely' 'Obstruction/Debris' 'Turning Improperly'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Pavement Slippery' 'Aggressive Driving/Road Rage'
 'Reaction to Uninvolved Vehicle' 'Steering Failure' 'Oversized Vehicle'
 'View Obstructed/Limited' 'Traffic Control Device Improper/Non-Working'
 'Fell Asleep' 'Glare' 'Passenger Distraction' 'Accelerator Defective'
 'Failure to Keep Right' 'Alcohol Involvement' 'Outside Car Distraction'
 'Brakes Defective' nan 'Pavement Defective' 'Driverless/Runaway Vehicle'
 'Fatigued/Drowsy' 'Animals Action' 'Tire Failure/Inadequate'
 'Lane Marking Improper/Inadequate' 'Physical Disability' 'Illnes'
 'Cell Phone (hand-Held)' 'Lost Consciousness' 'Drugs (illegal)'
 'Other Lighting Defects' 'Shoulders Defective/Improper' 'Tinted Windows'
 'Using On Board Navigation Device' 'Cell Phone (hands-free)'
 'Vehicle Vandalism' 'Tow Hitch Defective' 'Prescription Medication'
 'Listening/Using Headphones' 'Eating or Drinking' 'Headlights Defective'
 'Other Electronic Device' 'Windshield Inadequate']

#################### contributing_factor_vehicle_2 ####################
['Unspecified' nan 'Other Vehicular' 'Failure to Yield Right-of-Way'
 'Backing Unsafely' 'Driver Inattention/Distraction' 'Turning Improperly'
 'Unsafe Lane Changing' 'Following Too Closely' 'Pavement Slippery'
 'Aggressive Driving/Road Rage'
 'Traffic Control Device Improper/Non-Working' 'Passing Too Closely'
 'Passing or Lane Usage Improper'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Driver Inexperience' 'Unsafe Speed' 'Oversized Vehicle'
 'Passenger Distraction' 'Outside Car Distraction'
 'Traffic Control Disregarded' 'Reaction to Uninvolved Vehicle'
 'Obstruction/Debris' 'Failure to Keep Right' 'Fatigued/Drowsy'
 'Alcohol Involvement' 'View Obstructed/Limited' 'Glare'
 'Lane Marking Improper/Inadequate' 'Illnes' 'Accelerator Defective'
 'Pavement Defective' 'Tire Failure/Inadequate' 'Brakes Defective'
 'Tow Hitch Defective' 'Driverless/Runaway Vehicle' 'Animals Action'
 'Lost Consciousness' 'Tinted Windows' 'Using On Board Navigation Device'
 'Headlights Defective' 'Fell Asleep' 'Listening/Using Headphones'
 'Other Lighting Defects' 'Steering Failure' 'Drugs (illegal)'
 'Cell Phone (hand-Held)' 'Other Electronic Device']

#################### contributing_factor_vehicle_3 ####################
[nan 'Unspecified' 'Following Too Closely' 'Pavement Slippery'
 'Other Vehicular' 'Outside Car Distraction'
 'Driver Inattention/Distraction' 'Obstruction/Debris'
 'Aggressive Driving/Road Rage' 'Oversized Vehicle' 'Drugs (illegal)'
 'Reaction to Uninvolved Vehicle' 'Unsafe Speed' 'Glare'
 'Driver Inexperience' 'Passing or Lane Usage Improper'
 'Failure to Yield Right-of-Way' 'Unsafe Lane Changing'
 'Traffic Control Disregarded' 'Driverless/Runaway Vehicle'
 'Turning Improperly' 'Traffic Control Device Improper/Non-Working'
 'Failure to Keep Right' 'Passing Too Closely'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'View Obstructed/Limited' 'Backing Unsafely' 'Other Electronic Device'
 'Alcohol Involvement' 'Passenger Distraction' 'Brakes Defective']

#################### contributing_factor_vehicle_4 ####################
[nan 'Unspecified' 'Following Too Closely'
 'Driver Inattention/Distraction' 'Other Vehicular' 'Unsafe Speed'
 'Reaction to Uninvolved Vehicle' 'Pavement Slippery' 'Obstruction/Debris'
 'Outside Car Distraction' 'Backing Unsafely'
 'Aggressive Driving/Road Rage' 'Alcohol Involvement']

#################### contributing_factor_vehicle_5 ####################
[nan 'Unspecified' 'Following Too Closely' 'Unsafe Speed'
 'Other Vehicular' 'Reaction to Uninvolved Vehicle' 'Pavement Slippery'
 'Driver Inattention/Distraction' 'Obstruction/Debris'
 'Passing Too Closely']

#################### vehicle_type_code_3 ####################
[nan 'Bus' 'Sedan' 'Station Wagon/Sport Utility Vehicle' 'Taxi' 'Van'
 'Bike' 'Tractor Truck Gasoline' 'Pick-up Truck' 'van' 'bus' 'Box Truck'
 'Carry All' 'Dump' 'Ambulance' 'PK' 'Convertible' 'Motorcycle'
 'Open Body' 'Fire' 'E-Bik' 'FOOD' 'DELIV' 'box t' 'Tractor Truck Diesel'
 'SCHOO' 'Moped' 'PASSENGER VEHICLE' 'Motorscooter' 'Motorbike' 'AMBUL'
 'Flat Bed' 'Lift Boom' 'TRAIL' 'hrse' 'Trail' 'LIMO'
 'Tow Truck / Wrecker' 'Flat Rack' 'E-Scooter' 'Refrigerated Van'
 '4 dr sedan' 'Garbage or Refuse' 'Beverage Truck' 'TRUCK' 'E-BIKE'
 'AMBULANCE' 'Tanker' '3-Door' 'E-Bike' 'Stake or Rack' 'CARGO VAN'
 'unknown' 'TRAILER' 'Concrete Mixer' 'UHAUL Trai' 'FIRE TRUCK'
 'UNATTACHED' 'Multi-Wheeled Vehicle' 'UHAUL BOX' 'trailer' 'CONCRETE M'
 'FDNY FIRET' 'MTA BUS' 'Pallet']

#################### vehicle_type_code_4 ####################
[nan 'Station Wagon/Sport Utility Vehicle' 'Sedan' 'Taxi' 'Pick-up Truck'
 'Box Truck' 'Lift Boom' 'Tractor Truck Diesel' 'Convertible' 'TOYOT'
 'Motorcycle' 'Bus' 'Ambulance' 'SPORT UTILITY / STATION WAGON'
 'Motorscooter' 'Dump' 'Van' 'Refrigerated Van' 'Bike' 'E-Scooter'
 'FLATBED TR' 'E-Bike' 'trailor' 'CARGO VAN' 'TRAILER' 'LIMO' 'Carry All'
 'Box' '4 dr sedan' 'FDNY' 'Open Body' 'Chassis Cab']

#################### vehicle_type_code_5 ####################
[nan 'Sedan' 'Station Wagon/Sport Utility Vehicle' 'Pick-up Truck' 'Bus'
 'Motorcycle' 'Wagon' 'Taxi' 'back' 'Box Truck' 'Convertible' 'Ambulance'
 'PK' 'Van' 'Tractor Truck Diesel' 'Motorscooter' 'Box truck' 'E-Scooter'
 'BOX Truck']

In [21]:
print("8. Statistical info of each original feature:")
df.describe(include='all').T

8. Statistical info of each original feature:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
crash_date,100000,551,2019-07-19T00:00:00.000,664,NaN,NaN,NaN,NaN,NaN,NaN,NaN
crash_time,100000,1440,0:00,1637,NaN,NaN,NaN,NaN,NaN,NaN,NaN
borough,64974,5,BROOKLYN,22118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,64966.0,NaN,NaN,NaN,10901.653188,523.494905,10000.0,10457.0,11209.0,11354.0,11697.0
latitude,91965.0,NaN,NaN,NaN,40.651917,1.746143,0.0,40.667915,40.717724,40.785595,40.91217
longitude,91965.0,NaN,NaN,NaN,-73.781995,3.276307,-201.23706,-73.96087,-73.91811,-73.86286,0.0
location,91965,44605,"(0.0, 0.0)",169,NaN,NaN,NaN,NaN,NaN,NaN,NaN
on_street_name,73991,4327,BELT PARKWAY,1616,NaN,NaN,NaN,NaN,NaN,NaN,NaN
off_street_name,47125,4897,3 AVENUE,432,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cross_street_name,25967,22829,772 EDGEWATER ROAD,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_persons_injured,100000.0,NaN,NaN,NaN,0.37196,0.743916,0.0,0.0,0.0,1.0,15.0
number_of_persons_killed,100000.0,NaN,NaN,NaN,0.00193,0.046112,0.0,0.0,0.0,0.0,3.0
number_of_pedestrians_injured,100000.0,NaN,NaN,NaN,0.04739,0.223438,0.0,0.0,0.0,0.0,6.0
number_of_pedestrians_killed,100000.0,NaN,NaN,NaN,0.00064,0.02529,0.0,0.0,0.0,0.0,1.0
number_of_cyclist_injured,100000.0,NaN,NaN,NaN,0.04964,0.222343,0.0,0.0,0.0,0.0,3.0
number_of_cyclist_killed,100000.0,NaN,NaN,NaN,0.00025,0.015809,0.0,0.0,0.0,0.0,1.0
number_of_motorist_injured,100000.0,NaN,NaN,NaN,0.27492,0.711058,0.0,0.0,0.0,0.0,15.0
number_of_motorist_killed,100000.0,NaN,NaN,NaN,0.00104,0.034913,0.0,0.0,0.0,0.0,3.0
contributing_factor_vehicle_1,99629,54,Driver Inattention/Distraction,25605,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contributing_factor_vehicle_2,80757,47,Unspecified,67739,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contributing_factor_vehicle_3,8761,30,Unspecified,8197,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contributing_factor_vehicle_4,2240,12,Unspecified,2107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contributing_factor_vehicle_5,667,9,Unspecified,622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
collision_id,100000.0,NaN,NaN,NaN,4226109.34064,165356.051121,2568.0,4182342.75,4300224.0,4328315.25,4353706.0
vehicle_type_code1,99260,366,Sedan,46790,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicle_type_code2,73411,385,Sedan,31369,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicle_type_code_3,8329,64,Sedan,4129,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicle_type_code_4,2147,31,Sedan,1143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicle_type_code_5,646,18,Sedan,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
print("9. Duplicates in the dataset? ")
df.duplicated().any()

9. Duplicates in the dataset?

False

### Explore deeper missing values

In [55]:
# Check if: all `street_name` features has at least one missing value
cols = ["on_street_name", "off_street_name", "cross_street_name"]
# df[cols].notnull().all(axis=1).any()
df[cols].isnull().any(axis=1).all()

True

In [49]:
# Check if: when `cross_street_name` is not null, any `on_street_name` and `off_street_name` exists
(df[cols].groupby(["cross_street_name"]).count() > 0).any()

on_street_name     False
off_street_name    False
dtype: bool

In [63]:
# See examples of: `cross_street_name` when it is not null
df[df["cross_street_name"].notnull()].head()

,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,crash_datetime
0,STATEN ISLAND,10312.0,40.536728,-74.193344,"(40.536728, -74.193344)",NaN,NaN,243 DARLINGTON AVENUE,0,0,...,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,2017-04-18 23:10:00
4,BRONX,10456.0,40.828846,-73.903120,"(40.828846, -73.90312)",NaN,NaN,1167 BOSTON ROAD,0,0,...,Unspecified,NaN,NaN,NaN,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,2017-04-18 14:00:00
9,BRONX,10474.0,40.816864,-73.882744,"(40.816864, -73.882744)",NaN,NaN,772 EDGEWATER ROAD,0,0,...,NaN,NaN,NaN,NaN,Pick-up Truck,NaN,NaN,NaN,NaN,2017-05-02 01:00:00
10,STATEN ISLAND,10301.0,40.639614,-74.087270,"(40.639614, -74.08727)",NaN,NaN,361 JERSEY STREET,0,0,...,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,PAS,NaN,NaN,NaN,2017-05-01 14:30:00
12,BROOKLYN,11223.0,40.602757,-73.963770,"(40.602757, -73.96377)",NaN,NaN,802 AVENUE S,0,0,...,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,2017-05-01 10:30:00

In [67]:
# Check if: when `on_street_name` and `off_street_name` are not null, any `cross_street_name` exists
(df[cols].groupby(["on_street_name", "off_street_name"]).count() > 0).any()

cross_street_name    False
dtype: bool

In [76]:
# See examples of: `on_street_name` and `off_street_name` when they are not null 
df[df[["on_street_name", "off_street_name"]].notnull().all(axis=1)].head()

,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,crash_datetime
1,BRONX,10472.0,40.829052,-73.850380,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,1,0,...,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN,2017-05-06 13:00:00
2,QUEENS,11420.0,40.677303,-73.804565,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,0,0,...,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN,2017-04-27 17:15:00
3,NaN,NaN,40.624958,-74.145775,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,1,0,...,Unspecified,Unspecified,NaN,NaN,Motorcycle,Sedan,Bus,NaN,NaN,2017-05-09 20:10:00
6,NaN,NaN,40.740025,-73.976260,"(40.740025, -73.97626)",1 AVENUE,EAST 28 STREET,NaN,0,0,...,Unspecified,NaN,NaN,NaN,Taxi,Box Truck,NaN,NaN,NaN,2017-05-10 06:10:00
7,BROOKLYN,11203.0,40.651646,-73.932330,"(40.651646, -73.93233)",EAST 48 STREET,CHURCH AVENUE,NaN,0,0,...,Other Vehicular,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,2017-04-24 09:30:00

In [73]:
# Check if: when `off_street_name` is not null, all `on_street_name` exist
(df[["on_street_name", "off_street_name"]].groupby(["off_street_name"]).count() > 0).all()

on_street_name    True
dtype: bool

In [87]:
# See example if: when `off_street_name` is not null, all `on_street_name` exist
df[df["off_street_name"].notnull()].head()

,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,crash_datetime
1,BRONX,10472.0,40.829052,-73.850380,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,1,0,...,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN,2017-05-06 13:00:00
2,QUEENS,11420.0,40.677303,-73.804565,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,0,0,...,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN,2017-04-27 17:15:00
3,NaN,NaN,40.624958,-74.145775,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,1,0,...,Unspecified,Unspecified,NaN,NaN,Motorcycle,Sedan,Bus,NaN,NaN,2017-05-09 20:10:00
6,NaN,NaN,40.740025,-73.976260,"(40.740025, -73.97626)",1 AVENUE,EAST 28 STREET,NaN,0,0,...,Unspecified,NaN,NaN,NaN,Taxi,Box Truck,NaN,NaN,NaN,2017-05-10 06:10:00
7,BROOKLYN,11203.0,40.651646,-73.932330,"(40.651646, -73.93233)",EAST 48 STREET,CHURCH AVENUE,NaN,0,0,...,Other Vehicular,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,2017-04-24 09:30:00

### Observation notes
#### Missing values
* In some of the original features, there are the following values:
    - "nan"
    - "unspecified" or "Unspecified"

    => Decision: we are going to consider them as missing values.

* Street names:
    - All `street_name` features has at least one missing value
    - When at least one of `on_street_name` and `off_street_name` exists, `cross_street_name` is missing
    - When `cross_street_name` exists, `on_street_name` and `off_street_name` are missing
    - When `on_street_name` exists, `off_street_name` may exists or not exists, and `cross_street_name` is missing
    - When `off_street_name` exists, `on_street_name` always exists, and `cross_street_name` is missing

    => Decision: we are going to fill in `on_street_name` with `cross_street_name` as this is the closest street name where the crash happened.

### Data types
* `crash_date` and `crash_time` are object (= string)

    => Decision: Combine them into a *datetime64* feature

* The original features related to location have missing values,
even though they are very important (along with time of collision and number of injured or killed people).

    => Decision: we are going to fill in the missing values.
    (Since the end goal is to determine which streets are the most dangerous, the street names should at least have no missing values.)

## 4. Clean Dataset

### Fix missing values

In [104]:
# Fill in `on_street_name` with `cross_street_name` when `cross_street_name` is not null and `on_street_name` is null
condition = (df["cross_street_name"].notnull() & df["on_street_name"].isnull())
df["on_street_name"][(condition)] = df["cross_street_name"][(condition)]

In [109]:
# Check if `on_street_name` is correctly populated with `cross_street_name`
df[["on_street_name","cross_street_name"]][(condition)].head()

,on_street_name,cross_street_name
0,243 DARLINGTON AVENUE,243 DARLINGTON AVENUE
4,1167 BOSTON ROAD,1167 BOSTON ROAD
9,772 EDGEWATER ROAD,772 EDGEWATER ROAD
10,361 JERSEY STREET,361 JERSEY STREET
12,802 AVENUE S,802 AVENUE S

In [111]:
# Check the 42 rows where `on_street_name` is null
df[df["on_street_name"].isnull()]

,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,crash_datetime
345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,Sedan,Pick-up Truck,NaN,NaN,NaN,2018-07-23 15:30:00
1163,NaN,NaN,40.604153,-74.051980,"(40.604153, -74.05198)",NaN,NaN,NaN,2,0,...,Unspecified,Unspecified,NaN,NaN,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,2017-04-30 14:05:00
1285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN,2018-02-15 17:00:00
1762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,...,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,2017-09-09 15:40:00
2382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,Bus,Sedan,NaN,NaN,NaN,2017-09-08 15:50:00
2541,NaN,NaN,40.728393,-73.833014,"(40.7283926, -73.8330138)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,SMALL COM VEH(4 TIRES),SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2015-12-09 18:50:00
2883,NaN,NaN,40.604620,-74.027700,"(40.6046202, -74.0277)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2015-11-24 13:00:00
2911,NaN,NaN,40.846467,-73.945154,"(40.8464674, -73.9451536)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN,2015-11-18 15:30:00
3983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN,2018-02-10 14:35:00
4281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,2017-05-05 21:00:00
4835,NaN,NaN,40.799702,-73.929283,"(40.7997016, -73.9292835)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2015-12-12 18:10:00
5101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN,2018-02-08 15:20:00
5636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,Sedan,Bus,NaN,NaN,NaN,2018-02-07 14:20:00
5797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,...,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN,2017-09-03 06:10:00
5904,NaN,NaN,40.778088,-73.826871,"(40.7780879, -73.8268707)",NaN,NaN,NaN,3,0,...,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,2015-11-21 17:30:00
5958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,...,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN,2018-02-07 22:19:00
6932,NaN,NaN,40.609150,-74.149870,"(40.60915, -74.14987)",NaN,NaN,NaN,0,0,...,Unspecified,Unspecified,NaN,NaN,Station Wagon/Sport Utility Vehicle,Sedan,Pick-up Truck,NaN,NaN,2019-08-22 11:20:00
22111,NaN,NaN,40.605950,-74.076010,"(40.60595, -74.07601)",NaN,NaN,NaN,2,0,...,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,2019-08-18 00:50:00
22859,NaN,NaN,40.610928,-74.116554,"(40.610928, -74.116554)",NaN,NaN,NaN,0,0,...,Driver Inattention/Distraction,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,2019-07-29 07:15:00
24196,NaN,NaN,40.678100,-74.002339,"(40.6781, -74.0023387)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2013-04-14 12:30:00
24222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,Unspecified,Unspecified,Unspecified,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,2013-04-21 16:10:00
25567,NaN,NaN,40.665840,-73.757385,"(40.6658397, -73.7573847)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2013-04-22 10:44:00
26734,NaN,NaN,40.862498,-73.934185,"(40.8624983, -73.9341848)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,2013-04-23 22:20:00
27762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2013-05-04 16:00:00
28235,NaN,NaN,40.808193,-73.904886,"(40.8081931, -73.9048863)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,2013-04-13 17:40:00
28843,NaN,NaN,40.614812,-74.039816,"(40.614812, -74.0398159)",NaN,NaN,NaN,5,0,...,Other Vehicular,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2013-03-24 05:30:00
28922,NaN,NaN,40.860198,-73.828790,"(40.8601976, -73.8287899)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,VAN,PASSENGER VEHICLE,NaN,NaN,NaN,2013-03-23 21:20:00
29042,NaN,NaN,40.605950,-74.076010,"(40.60595, -74.07601)",NaN,NaN,NaN,1,0,...,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,2019-07-28 23:10:00
29288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN,2019-08-04 21:40:00
30035,NaN,NaN,40.764417,-73.902904,"(40.764417, -73.9029044)",NaN,NaN,NaN,3,0,...,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,2015-07-25 16:20:00
30087,NaN,NaN,40.766632,-73.889025,"(40.7666318, -73.8890253)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2015-07-31 04:15:00
30170,NaN,NaN,40.768167,-73.905433,"(40.7681673, -73.905433)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2015-07-23 19:30:00
39779,NaN,NaN,40.666502,-73.996189,"(40.6665019, -73.9961894)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,BUS,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2015-06-23 12:40:00
40706,NaN,NaN,40.840839,-73.872570,"(40.8408394, -73.8725705)",NaN,NaN,NaN,1,0,...,Unspecified,NaN,NaN,NaN,MOTORCYCLE,VAN,NaN,NaN,NaN,2015-06-26 09:30:00
41607,NaN,NaN,40.736323,-73.856302,"(40.7363231, -73.8563019)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2015-06-17 00:10:00
41741,NaN,NaN,40.556923,-74.174850,"(40.556923, -74.17485)",NaN,NaN,NaN,0,0,...,Unspecified,Unspecified,NaN,NaN,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,2019-07-10 06:58:00
41896,NaN,NaN,40.735930,-73.723131,"(40.7359298, -73.7231313)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2015-06-25 18:00:00
41950,NaN,NaN,40.785032,-73.940571,"(40.7850321, -73.9405708)",NaN,NaN,NaN,1,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2015-06-18 17:05:00
42791,NaN,NaN,40.733610,-73.923840,"(40.73361, -73.9238405)",NaN,NaN,NaN,0,0,...,Fatigued/Drowsy,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2015-06-30 14:15:00
43108,NaN,NaN,40.666539,-73.809943,"(40.6665387, -73.809943)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2015-06-09 16:00:00
44378,NaN,NaN,40.781667,-73.986689,"(40.7816671, -73.9866887)",NaN,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2015-05-15 18:50:00
44616,NaN,NaN,40.851501,-73.942523,"(40.8515013, -73.9425233)",NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,2015-05-16 04:15:00

In [115]:
# Check the "Bounding box" of the crash to check on a map the zone where the street names are missing
min_latitude = df["latitude"][df["on_street_name"].isnull()].min()
max_latitude = df["latitude"][df["on_street_name"].isnull()].max()
min_longitude = df["longitude"][df["on_street_name"].isnull()].min()
max_longitude = df["longitude"][df["on_street_name"].isnull()].max()

print(f"min latitude: {min_latitude}")
print(f"max latitude: {max_latitude}")
print(f"min longitude: {min_longitude}")
print(f"max longitude: {max_longitude}")

min latitude: 40.556923
max latitude: 40.8624983
min longitude: -74.17485
max longitude: -73.7231313

#### Observation notes: 
* By checking the locations of some of the missing street names, we see that some crashes happened on highways.
These are not really streets.

* Some collision entries have no location info at all

    => Decision: remove the 42 entries where all street names are missing

In [117]:
# Remove the 42 rows where `on_street_name` is null
df.drop(df[df["on_street_name"].isnull()].index, inplace=True)

In [118]:
# Check again the 42 rows where `on_street_name` is null 
# to see if there are effectively dropped
df[df["on_street_name"].isnull()]

Empty DataFrame
Columns: [borough, zip_code, latitude, longitude, location, on_street_name, off_street_name, cross_street_name, number_of_persons_injured, number_of_persons_killed, number_of_pedestrians_injured, number_of_pedestrians_killed, number_of_cyclist_injured, number_of_cyclist_killed, number_of_motorist_injured, number_of_motorist_killed, contributing_factor_vehicle_1, contributing_factor_vehicle_2, contributing_factor_vehicle_3, contributing_factor_vehicle_4, contributing_factor_vehicle_5, vehicle_type_code1, vehicle_type_code2, vehicle_type_code_3, vehicle_type_code_4, vehicle_type_code_5, crash_datetime]
Index: []

[0 rows x 27 columns]

In [119]:
print("Number of current missing values:")
df.isnull().sum()

Number of current missing values:

borough                          34984
zip_code                         34992
latitude                          8022
longitude                         8022
location                          8022
on_street_name                       0
off_street_name                  52833
cross_street_name                73991
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1      371
contributing_factor_vehicle_2    19239
contributing_factor_vehicle_3    91202
contributing_factor_vehicle_4    97720
contributing_factor_vehicle_5    99291
vehicle_type_code1                 740
vehicle_type_code2               26585
vehicle_type_code_3              91634
vehicle_type_code_4              97813
vehicle_type_code_5              99312
crash_datetime                       0
dtype: int64

### Fix data types

In [25]:
# Combine `crash_date` and `crash_time` into a datetime64 feature
df["crash_datetime"] = pd.to_datetime(df["crash_date"] + ' ' + df["crash_time"])

In [28]:
df["crash_datetime"].head()

0   2017-04-18 23:10:00
1   2017-05-06 13:00:00
2   2017-04-27 17:15:00
3   2017-05-09 20:10:00
4   2017-04-18 14:00:00
Name: crash_datetime, dtype: datetime64[ns]

### Feature selection

In [26]:
# Drop `crash_date` and `crash_time` since we have the new 
df.drop(["crash_date", "crash_time"], axis=1, inplace=True)

In [27]:
# Drop the `collision_id` feature as it won't be useful for predicting the outcome.
df.drop("collision_id", axis=1, inplace=True)

In [135]:
# Quick and dirty version
# we'll only select the most important features where there is no missing value.
no_nan_cols = df.loc[:, df.isnull().sum() == 0].columns
df_good_enough = df[no_nan_cols]

In [138]:
# Export the dataframe into data_clean_GOOD_ENOUGH file
df_good_enough.to_csv(r'assets/data_clean_GOOD_ENOUGH.csv', index = False)